@use '@/styles/variables.module' as *;

.footer {
  &__section {
    h4 {
      position: relative;
      width: fit-content;
    }
    h4::after {
      position: absolute;
      content: '';
      width: 45px;
      height: 2px;
      top: 50%;
      right: -55px;
      margin-top: -1px;
      background: $primary;
    }
  }
}
