// - Colors
$white: #fff;
$black: #000;
$dove-gray: #666565;
$dove-gray-300: #d3d3d3;
$ghost: #ced4da;
$primary: #fea116;
$chardonnay: #ffd08b;
$dark: #0f172b;
$light: #f1f8ff;

// - font-weight
$weight-normal: 400;
$weight-sm: 500;
$weight-md: 600;
$weight-lg: 700;
$weight-xl: 800;
$weight-xxl: 900;

/*
:export {
  primaryColor: $primary;
  white: $white;
  black: $black;
  doveGray: $dove-gray;
  doveGray300: $dove-gray-300;
  $ghost: $ghost;
  $chardonnay: $chardonnay;
  $dark: $dark;
  $light: $light;

  // - font-weight
  weightNormal: 400;
  weightNormalSm: $weight-sm;
  weightNormalMd: $weight-md;
  weightNormalLg: $weight-lg;
  weightNormalXl: $weight-xl;
  weightNormalXxl: $weight-xxl;
}
*/
